In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [71]:
file = pd.read_excel("../data/raw/Dados_Mega_Sena_1.xlsx", index_col=0)
file

,N1,N2,N3,N4,N5,N6,Viz+1d1,Viz+1d2,Viz+1d3,Viz+1d4,...,D5-D3,D5-D4,D4-D1,D4-D2,D4-D3,D3-D1,D3-D2,D2-D1,Par,Ímpar
Date,,,,,,,,,,,,,,,,,,,,,
1996-03-11,4,5,30,33,41,52,5,6,31,34,...,11,8,29,28,3,26,25,1,3,3.0
1996-03-18,9,37,39,41,43,49,10,38,40,42,...,4,2,32,4,2,30,2,28,0,6.0
1996-03-25,10,11,29,30,36,47,11,12,30,31,...,7,6,20,19,1,19,18,1,3,3.0
1996-04-01,1,5,6,27,42,59,2,6,7,28,...,36,15,26,22,21,5,1,4,2,4.0
1996-04-08,1,2,6,16,19,46,2,3,7,17,...,13,3,15,14,10,5,4,1,4,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-05,9,41,42,46,47,54,10,42,43,47,...,5,1,37,5,4,33,1,32,3,3.0
2022-01-08,2,7,9,25,41,49,3,8,10,26,...,32,16,23,18,16,7,2,5,1,5.0
2022-01-12,1,5,12,13,17,31,2,6,13,14,...,5,4,12,8,1,11,7,4,1,5.0
2022-01-15,15,17,20,35,37,43,16,18,21,36,...,17,2,20,18,15,5,3,2,1,5.0
2022-01-19,11,25,32,37,47,56,12,26,33,38,...,15,10,26,12,5,21,7,14,2,4.0

In [73]:
file = pd.DataFrame(["Dezenas", "Linhas"])
file

         0
0  Dezenas
1   Linhas